<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-features">
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-diamond"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>Best Sevices Award</h3>
										<span>Earned best service award in 2016</span>
									</div>
								</div>
							</li>
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-users"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>Verified Service Providers</h3>
										<span>More than 35000 service providers</span>
									</div>
								</div>
							</li>
							<li>
								<div class="tg-feature">
									<span class="tg-featureicon">
										<i class="lnr lnr-diamond"></i>
									</span>
									<div class="tg-featurecontent">
										<h3>User Friendly Focused</h3>
										<span>Given attention to rich user experience</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tg-fourcolumns">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn">
								<strong class="tg-logo"><a href="/HTML/html/service_provider/index.html#"><img src="img/flogo.png" alt="image description"></a></strong>
								<div class="tg-description">
									<p>Conseetur elit sed eiumod  apor incidunt ut lbore et dolore <a href="/HTML/html/service_provider/index.html#">more...</a></p>
								</div>
								<ul class="tg-contactinfo">
									<li>
										<i class="lnr lnr-location"></i>
										<address>Abc tower, xyz street UK, HG521A</address>
									</li>
									<li>
										<i class="lnr lnr-phone-handset"></i>
										<span>0800 - 1234 - 562 - 6</span>
									</li>
									<li>
										<i class="lnr lnr-envelope"></i>
										<span><a href="/HTML/html/service_provider/query@domain.com">query@domain.com</a></span>
									</li>
									<li>
										<i class="lnr lnr-construction"></i>
										<span><a href="/HTML/html/service_provider/complaint@domain.com">complaint@domain.com</a></span>
									</li>
								</ul>
								<ul class="tg-socialicons">
									<li class="tg-facebook"><a href="/HTML/html/service_provider/index.html#"><i class="fa fa-facebook"></i></a></li>
									<li class="tg-twitter"><a href="/HTML/html/service_provider/index.html#"><i class="fa fa-twitter"></i></a></li>
									<li class="tg-linkedin"><a href="/HTML/html/service_provider/index.html#"><i class="fa fa-linkedin"></i></a></li>
									<li class="tg-googleplus"><a href="/HTML/html/service_provider/index.html#"><i class="fa fa-google-plus"></i></a></li>
									<li class="tg-rss"><a href="/HTML/html/service_provider/index.html#"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgettwitter">
								<div class="tg-widgettitle">
									<h3>Latest Tweets</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<div class="tg-description"><p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p></div>
											<a href="">http://www.domainurl.com</a>
											<time datetime="2016-08-08">2 hours ago</time>
										</li>
										<li>
											<div class="tg-description"><p>Sed ut perspiciatis unde omnis isteat natus error sit voluptatem</p></div>
											<a href="">http://www.domainurl.com</a>
											<time datetime="2016-08-08">3 hours ago</time>
										</li>
										<li><a href="javascript:void(0);">view all</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetusefullinks">
								<div class="tg-widgettitle">
									<h3>Useful Links</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li><a href="/HTML/html/service_provider/index.html#">Perspiciatis ate</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Aomnis isteat</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Canatus error</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Voluptatem clu</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Commodo</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Consequat</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Duis aute</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Aincididunt</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Alter veritatis</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Tempora Incid</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Dolore Magnam</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Aliquam Quaerat</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Quisquam</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Voluptatem</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Aliquip</a></li>
										<li><a href="/HTML/html/service_provider/index.html#">Adipisicing</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
							<div class="tg-footercolumn tg-widget tg-widgetfreeinspection">
								<div class="tg-widgettitle">
									<h3>Offer Free Inspection</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li>
											<figure><a href="/HTML/html/service_provider/index.html#"><img src="img/img-01.png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="/HTML/html/service_provider/index.html#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<figure><a href="/HTML/html/service_provider/index.html#"><img src="img/img-02(3).png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="/HTML/html/service_provider/index.html#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<figure><a href="/HTML/html/service_provider/index.html#"><img src="img/img-03(3).png" alt="image description"></a></figure>
											<div class="tg-contentbox">
												<h4><a href="/HTML/html/service_provider/index.html#">Manchester Cleaning Service</a></h4>
												<ul class="tg-matadata">
													<li><span class="tg-stars"><span></span></span></li>
													<li>
														<i class="fa fa-thumbs-o-up"></i>
														<em>99% (1009 votes)</em>
													</li>
												</ul>
											</div>
										</li>
										<li><a href="javascript:void(0);">view all</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span>Copyright © 2017 All Rights Reserved - Service Providers</span>
							<nav class="tg-footernav">
								<ul>
									<li><a href="/HTML/html/service_provider/index.html#">Privacy Policy</a></li>
									<li><a href="/HTML/html/service_provider/index.html#">Term and Conditions</a></li>
									<li><a href="/HTML/html/service_provider/index.html#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>