 <div class="scrollable scroll_top" ui-shared-state="searchBar" >
 <div class="scrollable-content" >
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>Forget Password</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="">Home</a></li>
							<li class="tg-active">Login - Register</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
			<!--************************************
					Login Register Start
			*************************************-->
			<div class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div id="tg-content" class="tg-content">
							<form class="tg-themeform tg-formlogin-register">
								
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="tg-loginarea">
										
										<fieldset>
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="Email">
											</div>
											
											<div class="form-group">
												<button class="tg-btn tg-btn-lg" type="submit">Submit</button>
											</div>
											
										</fieldset>
										
									</div>
									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		
			<!--************************************
					Login Register End
			*************************************-->
		</main>
		<div ng-include="'templates/footer.html'"></div>	
		<!--************************************
				Footer End
		*************************************-->
	</div>
	</div>
	</div>
	