<header id="tg-header" class="tg-header tg-haslayout">
		<!--	<div class="tg-topbar tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<ul class="tg-addressinfo">
								<li>
									<i class="lnr lnr-envelope"></i>
									<a href="mailto:info@domain.com">info@domain.com</a>
								</li>
								<li>
									<i class="lnr lnr-phone-handset"></i>
									<span>+4 1234 567890</span>
								</li>
							</ul>
							<div class="tg-themedropdown tg-languagesdropdown">
								<a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>eng</span>
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="tg-dropdownmenu" aria-labelledby="tg-languages">
									<li>
										<a href="/HTML/html/service_provider/index.html#">
											<span>chi</span>
										</a>
									</li>
									<li class="tg-active">
										<a href="/HTML/html/service_provider/index.html#">
											
											<span>eng</span>
										</a>
									</li>
									<li>
										<a href="/HTML/html/service_provider/index.html#">
											
											<span>rus</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="tg-adminbox">
								<div class="tg-loginregister">
									<a class="tg-btnlogin" href="javascript:void(0);">Login</a>
									<a class="tg-btnregister" href="javascript:void(0);">Register</a>
								</div>
								<div class="tg-useradminbox">
									<div class="tg-themedropdown tg-userdropdown">
										<a href="/HTML/html/service_provider/dashboard.html" id="tg-usermenu" class="tg-btndropdown">
											<em><img src="img/img-01(1).jpg" alt="image description"></em>
											<span>Hi! Kena Maresca</span>
											<i class="fa fa-angle-down"></i>
										</a>
										<div class="tg-dropdownmenu tg-usermenu" aria-labelledby="tg-usermenu">
											<nav id="tg-dashboardnav" class="tg-dashboardnav">
												<ul>
													<li>
														<a href="/HTML/html/service_provider/dashboard.html">
															<i class="lnr lnr-database"></i>
															<span>Insights</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardprofilesetting.html">
															<i class="lnr lnr-cog"></i>
															<span>Profile Settings</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardbusinesshours.html">
															<i class="lnr lnr-clock"></i>
															<span>Business Hours</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardmanageservice.html">
															<i class="lnr lnr-briefcase"></i>
															<span>Manage Services</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardmanageteams.html">
															<i class="lnr lnr-users"></i>
															<span>Manage Team</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardmanagejobs.html">
															<i class="lnr lnr-map"></i>
															<span>Manage Jobs</span>
														</a>
													</li>
													<li class="tg-privatemessages tg-hasdropdown">
														<a id="tg-btntoggle" class="tg-btntoggle" href="javascript:void(0);">
															<i class="lnr lnr-envelope"></i>
															<span>Private Messages</span>
															<em class="tg-totalmessages">526</em>
															<em class="tg-newmessages">1</em>
														</a>
														<ul class="tg-emailmenu">
															<li class="tg-active">
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
																	<span>inbox</span>
																	<em class="tg-totalmessages">526</em>
																	<em class="tg-newmessages">1</em>
																</a>
															</li>
															<li>
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
																	<span>sent</span>
																	<em class="tg-totalmessages">370</em>
																</a>
															</li>
															<li>
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
																	<span>trash</span>
																	<em class="tg-totalmessages">160</em>
																</a>
															</li>
															<li>
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
																	<span>spam/junk</span>
																	<em class="tg-totalmessages">1260</em>
																</a>
															</li>
														</ul>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardappointment.html">
															<i class="lnr lnr-calendar-full"></i>
															<span>Appointments</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardappointmentsetting.html">
															<i class="lnr lnr-calendar-full"></i>
															<span>Appointment Settings</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardfavoritlisting.html">
															<i class="lnr lnr-heart"></i>
															<span>Favourite Listings</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardinvoices.html">
															<i class="lnr lnr-list"></i>
															<span>Invoices</span>
															<em class="tg-invoices">23</em>
														</a>
													</li>
													<li class="tg-updatepackage">
														<a href="/HTML/html/service_provider/dashboardupgradepackage.html">
															<i class="lnr lnr-layers"></i>
															<span>Update Package</span>
															<em class="lnr lnr-flag tg-taginfo"></em>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardsecuritysetting.html">
															<i class="lnr lnr-construction"></i>
															<span>Security Settings</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardprivacysetting.html">
															<i class="lnr lnr-lock"></i>
															<span>Privacy Settings</span>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/index.html#">
															<i class="lnr lnr-exit"></i>
															<span>Logout</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div class="tg-navigationarea">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<strong class="tg-logo" ><a href="/HTML/html/service_provider/index.html">
							<img src="img/logo0.png" alt="logo image" style="width:50%;"></a></strong>
							<div class="tg-rightarea">
								<nav id="tg-nav" class="tg-nav">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
										<ul>
											<li><a href="/HTML/html/service_provider/aboutus.html">How it work ?</a></li>
											<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
												<a href="javascript:void(0);">Find Jobs</a>
												<ul class="sub-menu">
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Automotive</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Beauty &amp; Personal Care</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Business</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Child Care</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Cleaning</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Computer &amp; Mobile Service</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Food &amp; Drinks</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">General Labor</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Construction &amp; Renovation</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Health &amp; Fitness</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Pet Care</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Traning &amp; Education</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
													<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
														<a href="/HTML/html/service_provider/index.html#">Transportation &amp; Travel</a>
														<ul class="sub-menu">
															<li><a href="/HTML/html/service_provider/categories3col.html">Catagories</a></li>
															<li><a href="/HTML/html/service_provider/categories4col.html">Catagories 2</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item-has-children"><span class="tg-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
												<a href="/HTML/html/service_provider/index.html#">You are looking for ?</a>
												<ul class="sub-menu">
													<li>
														<a href="">Freelancer</a>
													</li>
													<li>
														<a href="" ng-click="goToPage('joblist')">Jobs</a>
													</li>
												</ul>
											</li>
											<li><a href="" ng-click="goToPage('profile')">Profile</a></li>
											
											
										</ul>
									</div>
								</nav>
								<a class="tg-btn tg-btnpostanewjob" href="" ng-click="goToPage('login')">Account</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>