<div class="scrollable scroll_top" ui-shared-state="searchBar" >
 <div class="scrollable-content" >
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>About Us</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="http://mydesignhoard.com/HTML/html/service_provider/aboutus.html#">Home</a></li>
							<li class="tg-active">about us</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
			<!--************************************
					Services Facilities Start
			*************************************-->
			<section class="tg-main-section tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
							<div class="tg-sectionhead">
								<div class="tg-sectiontitle">
									<h2>How We're Serving You</h2>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim adia minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip extea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="tg-servicesfacilities">
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-hasslefreelife"><i class="lnr lnr-magic-wand"></i></span>
									<div class="tg-title">
										<h3>Hassle Free Life</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-allprofessionals"><i class="lnr lnr-heart"></i></span>
									<div class="tg-title">
										<h3>All Professionals</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-fiskfreeservices"><i class="lnr lnr-thumbs-up"></i></span>
									<div class="tg-title">
										<h3>Risk Free Services</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-securepayments"><i class="lnr lnr-license"></i></span>
									<div class="tg-title">
										<h3>Secure Payments</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-savingyourtime"><i class="lnr lnr-clock"></i></span>
									<div class="tg-title">
										<h3>Saving Your Time</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-savingyourcost"><i class="lnr lnr-tag"></i></span>
									<div class="tg-title">
										<h3>Saving Your Cost</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-premiumexperience"><i class="lnr lnr-star"></i></span>
									<div class="tg-title">
										<h3>Premium Experience</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
								<div class="tg-servicefacility">
									<span class="tg-servicefacilityicon tg-servicetime"><i class="lnr lnr-cart"></i></span>
									<div class="tg-title">
										<h3>24/7 Service Time</h3>
									</div>
									<div class="tg-description">
										<p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
		<div ng-include="'templates/footer.html'"></div>	
</div>
</div>