 <div class="scrollable scroll_top" ui-shared-state="searchBar" >
 <div class="scrollable-content" >
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-right">
							<div class="row">
								<div id="tg-content" class="tg-content">
									<div class="tg-jobdetailing">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="tg-sortfilters">
												<div class="tg-sortfilter tg-sortby">
													<span>Sort By:</span>
													<div class="tg-select">
														<select>
															<option>Name</option>
															<option>Type</option>
															<option>date</option>
														</select>
													</div>
												</div>
												<div class="tg-sortfilter tg-arrange">
													<span>Arrange:</span>
													<div class="tg-select">
														<select>
															<option>des</option>
															<option>Asc</option>
														</select>
													</div>
												</div>
												<div class="tg-sortfilter tg-show">
													<span>Show:</span>
													<div class="tg-select">
														<select>
															<option>12</option>
															<option>24</option>
															<option>all</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											
												<div class="row" ng-repeat="item in items track by $index">
													<h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 jobHeading"><a href="" ng-click="goToPage('jobdetail')">Mobile app in android {{$index}}</a></h3>
													<span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-left-0">Fixed-Price - Intermediate ($$) - Est. Budget: $3,000 - Posted 3 minutes ago</span>
													<p  class="JobParagraph"> 
													<b>Description: </b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
													 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
													 </p>
													 <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-left-0"> <b>Skills:</b> 
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Java </a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Php</a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Android</a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">IOs</a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Cakephp</a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Pythod</a>
													 <a class="tg-tag tg-featuredtag" href="" ng-click="goToPage('jobdetail')">Mysql</a>
													 </p>
													
												</div>
												
												
												
														
															
														
													
												
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<nav class="tg-pagination">
												<ul>
													<li class="tg-prevpage" ng-class="{disabled:pager.currentPage === 1}"><a href="" ng-click="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
													<li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}"><a href=""  ng-click="setPage(page)">{{page}}</a></li>
													<li class="tg-nextpage" ng-class="{disabled:pager.currentPage === pager.totalPages}"><a href="" ng-click="setPage(pager.currentPage + 1)"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-left">
							<aside id="tg-sidebar" class="tg-sidebar">
								<form class="tg-themeform tg-formrefinesearch">
									<fieldset>
										<h4>Filter By Categories</h4>
										<div class="tg-checkboxgroup">
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-cab" name="filterbylocation" value="Cab">
												<label for="tg-cab">Cab Service</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-care" name="filterbylocation" checked="" value="Care">
												<label for="tg-care">Car Care &amp; Servicing</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-realer" name="filterbylocation" value="Dealer">
												<label for="tg-realer">Car Dealer</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-rent" name="filterbylocation" value="Aldborough Hatch">
												<label for="tg-rent">Rent A Car</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-beauty" name="filterbylocation" value="Beauty">
												<label for="tg-beauty">Beauty Parlor</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-rent" name="filterbylocation" value="Aldborough Hatch">
												<label for="tg-rent">Rent A Car</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-beauty" name="filterbylocation" value="Beauty">
												<label for="tg-beauty">Beauty Parlor</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-rent" name="filterbylocation" value="Aldborough Hatch">
												<label for="tg-rent">Rent A Car</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-beauty" name="filterbylocation" value="Beauty">
												<label for="tg-beauty">Beauty Parlor</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-rent" name="filterbylocation" value="Aldborough Hatch">
												<label for="tg-rent">Rent A Car</label>
											</span>
											<span class="tg-checkbox">
												<input type="checkbox" id="tg-beauty" name="filterbylocation" value="Beauty">
												<label for="tg-beauty">Beauty Parlor</label>
											</span>
											
										</div>
									</fieldset>
									
									<fieldset>
										<button class="tg-btn" type="submit">apply</button>
										<button class="tg-btn" type="reset">reset</button>
									</fieldset>
								</form>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<!-- End listing -->
		
			<div ng-include="'templates/footer.html'"></div>	
		<!--************************************
				Footer End
		*************************************-->
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	</div>
	</div>
