
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>Jobs</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Home</a></li>
							<li class="tg-active">Jobs</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Page Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
						<ng-include src="'templates/sidebar.html'"></ng-include>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
							<div id="tg-content" class="tg-content">
								<div class="tg-joblisting tg-dashboardmanagejobs">
									<div class="tg-dashboardhead">
										<div class="tg-dashboardtitle">
											<h2>Manage Jobs</h2>
										</div>
										<button class="tg-btnaddservices" data-toggle="modal" data-target=".tg-categoryModal">Post A New Job</button>
									</div>
									<div class="tg-sortfilters">
										<div class="tg-sortfilter tg-sortby">
											<span>Sort By:</span>
											<div class="tg-select">
												<select>
													<option>Name</option>
													<option>Type</option>
													<option>date</option>
												</select>
											</div>
										</div>
										<div class="tg-sortfilter tg-arrange">
											<span>Arrange:</span>
											<div class="tg-select">
												<select>
													<option>des</option>
													<option>Asc</option>
												</select>
											</div>
										</div>
										<div class="tg-sortfilter tg-show">
											<span>Show:</span>
											<div class="tg-select">
												<select>
													<option>12</option>
													<option>24</option>
													<option>all</option>
												</select>
											</div>
										</div>
									</div>
									<table class="tg-tablejoblidting">
										<tbody>
											<tr>
												<td>
													<figure class="tg-companylogo">
														<img src="img/img-02(2).jpg" alt="image description">
													<a class="tg-btndel" href="/HTML/html/service_provider/dashboardmanagejobs.html#"><i class="fa fa-close"></i></a>
													</figure>
													<div class="tg-contentbox">
														<a class="tg-tag tg-featuredtag" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Freelance</a>
														<div class="tg-title">
															<h3><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Call Center Agent Required</a></h3>
														</div>
														<span>By: Bright Future Group &amp; Company</span>
													</div>
												</td>
												<td><span>Abbey Wood, London</span></td>
												<td><span>English, Arabic</span></td>
												<td><span>$200</span></td>
											</tr>
											<tr>
												<td>
													<figure class="tg-companylogo">
														<img src="img/img-03(1).jpg" alt="image description">
														<a class="tg-btndel" href="/HTML/html/service_provider/dashboardmanagejobs.html#"><i class="fa fa-close"></i></a>
													</figure>
													<div class="tg-contentbox">
														<a class="tg-tag tg-featuredtag" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Full Time</a>
														<div class="tg-title">
															<h3><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Yoga Teacher Required</a></h3>
														</div>
														<span>By: On Fleek Spa &amp; Beauty Saloon</span>
													</div>
												</td>
												<td><span>Abbey Wood, London</span></td>
												<td><span>English, Arabic, Chinese</span></td>
												<td><span>$500</span></td>
											</tr>
											<tr>
												<td>
													<figure class="tg-companylogo">
														<img src="img/img-04(1).jpg" alt="image description">
														<a class="tg-btndel" href="/HTML/html/service_provider/dashboardmanagejobs.html#"><i class="fa fa-close"></i></a>
													</figure>
													<div class="tg-contentbox">
														<a class="tg-tag tg-featuredtag" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Fix</a>
														<div class="tg-title">
															<h3><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Carpenter Required</a></h3>
														</div>
														<span>By: Blue Bird Organization</span>
													</div>
												</td>
												<td><span>Abbey Wood, London</span></td>
												<td><span>English, Chinese</span></td>
												<td><span>$300</span></td>
											</tr>
											<tr>
												<td>
													<figure class="tg-companylogo">
														<img src="img/img-05.jpg" alt="image description">
														<a class="tg-btndel" href="/HTML/html/service_provider/dashboardmanagejobs.html#"><i class="fa fa-close"></i></a>
													</figure>
													<div class="tg-contentbox">
														<a class="tg-tag tg-featuredtag" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Hourly</a>
														<div class="tg-title">
															<h3><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Furniture Repairer Required</a></h3>
														</div>
														<span>By: Silvana Hoggatt</span>
													</div>
												</td>
												<td><span>Abbey Wood, London</span></td>
												<td><span>French</span></td>
												<td><span>$50</span></td>
											</tr>
											<tr>
												<td>
													<figure class="tg-companylogo">
														<img src="img/img-06.jpg" alt="image description">
														<a class="tg-btndel" href="/HTML/html/service_provider/dashboardmanagejobs.html#"><i class="fa fa-close"></i></a>
													</figure>
													<div class="tg-contentbox">
														<a class="tg-tag tg-featuredtag" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Project Base</a>
														<div class="tg-title">
															<h3><a href="/HTML/html/service_provider/dashboardmanagejobs.html#">Plumber Required</a></h3>
														</div>
														<span>By: Blue Bird Organization</span>
													</div>
												</td>
												<td><span>Abbey Wood, London</span></td>
												<td><span>English, Arabic</span></td>
												<td><span>$360</span></td>
											</tr>
										</tbody>
									</table>
									<div id="tg-updateall" class="tg-updateall tg-show" style="display: none;">
												<div class="tg-holder">
													<span class="tg-note">* Click <strong>Update Now</strong> to update latest added detail (s).</span>
													<a class="tg-btn" href="/HTML/html/service_provider/dashboardmanagejobs.html#">Update Now</a>
												</div>
											</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div ng-include="'templates/footer.html'"></div>	
	</div>
	