<div class="scrollable scroll_top" ui-shared-state="searchBar" >
 <div class="scrollable-content" >
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
	  <div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-pagetitle">
							<h1>Dashboard</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#">Home</a></li>
							<li class="tg-active">Dashboard</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widgetprofile">
									<figure class="tg-profilebannerimg">
										<img src="img/img-02(1).jpg" alt="image description">
									</figure>
									<div class="tg-widgetcontent">
										<figure>
											<img src="img/img-07.jpg" alt="image description" data-pin-nopin="true">
											<a class="tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
										</figure>
										<div class="tg-admininfo">
											<h3>Kena Maresca</h3>
											<h4>Bright Future Group &amp; Company</h4>
											<ul class="tg-matadata">
												<li><span class="tg-stars"><span></span></span></li>
												<li>
													<i class="fa fa-thumbs-o-up"></i>
													<em>99% (1009 votes)</em>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tg-widgetdashboard">
									<nav id="tg-dashboardnav" class="tg-dashboardnav">
										<ul>
											<li>
												<a href="/HTML/html/service_provider/dashboard.html">
													<i class="lnr lnr-database"></i>
													<span>Insights</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardprofilesetting.html">
													<i class="lnr lnr-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardbusinesshours.html">
													<i class="lnr lnr-clock"></i>
													<span>Business Hours</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardmanageservice.html">
													<i class="lnr lnr-briefcase"></i>
													<span>Manage Services</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardmanageteams.html">
													<i class="lnr lnr-users"></i>
													<span>Manage Team</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardmanagejobs.html">
													<i class="lnr lnr-map"></i>
													<span>Manage Jobs</span>
												</a>
											</li>
											<li class="tg-privatemessages tg-hasdropdown tg-active">
												<a id="tg-btntoggle" class="tg-btntoggle" href="javascript:void(0);">
													<i class="lnr lnr-envelope"></i>
													<span>Private Messages</span>
													<em class="tg-totalmessages">526</em>
													<em class="tg-newmessages">1</em>
												</a>
												<ul class="tg-emailmenu">
													<li class="tg-active">
														<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
															<span>inbox</span>
															<em class="tg-totalmessages">526</em>
															<em class="tg-newmessages">1</em>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
															<span>sent</span>
															<em class="tg-totalmessages">370</em>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
															<span>trash</span>
															<em class="tg-totalmessages">160</em>
														</a>
													</li>
													<li>
														<a href="/HTML/html/service_provider/dashboardprivatemessages.html">
															<span>spam/junk</span>
															<em class="tg-totalmessages">1260</em>
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardappointment.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardappointmentsetting.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointment Settings</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardfavoritlisting.html">
													<i class="lnr lnr-heart"></i>
													<span>Favourite Listings</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardinvoices.html">
													<i class="lnr lnr-list"></i>
													<span>Invoices</span>
													<em class="tg-invoices">23</em>
												</a>
											</li>
											<li class="tg-updatepackage">
												<a href="/HTML/html/service_provider/dashboardupgradepackage.html">
													<i class="lnr lnr-layers"></i>
													<span>Update Package</span>
													<em class="lnr lnr-flag tg-taginfo"></em>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardsecuritysetting.html">
													<i class="lnr lnr-construction"></i>
													<span>Security Settings</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardprivacysetting.html">
													<i class="lnr lnr-lock"></i>
													<span>Privacy Settings</span>
												</a>
											</li>
											<li>
												<a href="/HTML/html/service_provider/dashboardprivatemessages.html#">
													<i class="lnr lnr-exit"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
								<div class="tg-widgetdashboard hidden-xs">
									<div class="tg-banneradd">
										<figure>
											<a href="/HTML/html/service_provider/dashboardprivatemessages.html#"><img src="img/add-01.png" alt="image description"></a>
										</figure>
									</div>
								</div>
							</aside>
						</div>
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
							<div id="tg-content" class="tg-content">
								<div class="tg-dashboard tg-dashboarprivatemessages">
									<form class="tg-themeform">
										<fieldset>
											<div class="tg-dashboardbox tg-dashboardmessages">
												<div class="tg-dashboardtitle">
													<h2>Inbox</h2>
												</div>
												<div class="tg-dashboardmessagesbox">
													<div class="tg-messageshead">
														<ul class="tg-actionnav">
															<li>
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html#">
																	<div class="tg-checkbox">
																		<input type="checkbox" name="selectall" id="selectall" value="selectall">
																		<label for="selectall">Select all</label>
																	</div>
																</a>
															</li>
															<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#">Mark as unread</a></li>
															<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#">Add to spam / junk</a></li>
															<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#">Delete</a></li>
														</ul>
														<ul class="tg-messagespagecount">
															<li>1-12 of 526</li>
															<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#" class="tg-btn"><i class="fa fa-angle-left"></i></a></li>
															<li><a href="/HTML/html/service_provider/dashboardprivatemessages.html#" class="tg-btn"><i class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
													<div class="tg-emailnavbox tg-emailnavscroll mCustomScrollbar _mCS_1 mCS_no_scrollbar"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
														<ul class="tg-emailnav">
															<li>
																<div class="form-group">
																	<button type="button"><i class="lnr lnr-magnifier"></i></button>
																	<input type="search" name="search" class="form-control" placeholder="Search Email">
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-01" name="email-01" value="email-01" checked="">
																	<label for="email-01">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-02" name="email-02" value="email-02">
																	<label for="email-02">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-03" name="email-03" value="email-03">
																	<label for="email-03">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-04" name="email-04" value="email-04">
																	<label for="email-04">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-05" name="email-05" value="email-05">
																	<label for="email-05">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-06" name="email-06" value="email-06">
																	<label for="email-06">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-07" name="email-07" value="email-07">
																	<label for="email-07">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-08" name="email-08" value="email-08">
																	<label for="email-08">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-09" name="email-09" value="email-09">
																	<label for="email-09">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-10" name="email-10" value="email-10">
																	<label for="email-10">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-11" name="email-11" value="email-11">
																	<label for="email-11">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
															<li>
																<div class="tg-checkbox">
																	<input type="checkbox" id="email-12" name="email-12" value="email-12">
																	<label for="email-12">Shea Breitenbach
																		<div class="tg-emailhead">
																			<div class="tg-timeattachment">
																				<i class="fa fa-paperclip"></i>
																				<span>3:50 pm</span>
																			</div>
																		</div>
																		<div class="tg-messageinfo">
																			<span>Updated Team Profiles Photos</span>
																			<div class="tg-description">
																				<p>Consectetur adipisicing elit, sediae tado
		eiusmod tempor incididunt...</p>
																			</div>
																		</div>
																	</label>
																</div>
															</li>
														</ul>
													</div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
													<div class="tg-emailmessage">
														<div class="tg-emailsubjectactions">
															<div class="tg-emailsubject">
																<h2>Updated Team Profiles Photos</h2>
															</div>
															<div class="tg-btnactions">
																<a class="tg-btnreplyall" href="javascript:void(0);"><i class="fa fa-reply-all"></i></a>
																<a class="tg-btnreply" href="javascript:void(0);"><i class="fa fa-reply"></i></a>
																<a class="tg-btnfarword" href="javascript:void(0);"><i class="fa fa-mail-forward"></i></a>
																<a class="tg-btndelemail" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
															</div>
														</div>
														<div class="tg-emailauthor">
															<div class="tg-attachemtntime">
																<a class="tg-attachemtn" href="javascript:void(0);"><i class="fa fa-paperclip"></i></a>
																<time datetime="2016-12-12">3:36 pm</time>
															</div>
															<figure><img src="img/img-22.jpg" alt="image desription"></figure>
															<div class="tg-emailauthorinfo">
																<h3>Shea Breitenbach</h3>
																<span>To me</span>
															</div>
														</div>
														<div class="tg-emailmessagedetail">
															<span>Hi Kena Maresca,</span>
															<div class="tg-description">
																<p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat
enim ad minim veniam nostrud exercitation ullamco laboris nisi ut aliquip exeaodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
																<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
anim id est laborum. Sed ut perspiciatis unde omnis iste natus error voluptatem accu- santium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inven-
tore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
																<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
quaerat voluptatem.</p>
															</div>
															<div class="tg-senderinfo">
																<span>Thanks &amp; Regards</span>
																<span>Shea Breitenbach</span>
																<span>Voice: (+4) 1234 5667 - 9</span>
																<em>Email: </em><a href="mailto:shea@domain.com"> shea@domain.com</a>
															</div>
														</div>
														<div class="tg-emailattachemnets">
															<div class="tg-attachementhead">
																<h3>Attachments</h3>
																<a href="/HTML/html/service_provider/dashboardprivatemessages.html#" class="tg-btndownloadattachment"><i class="lnr lnr-download"></i></a>
															</div>
															<ul class="tg-imgattachemnet">
																<li><a href="javascript:void(0);"><img src="img/img-01(2).jpg" alt="image description"></a></li>
																<li><a href="javascript:void(0);"><img src="img/img-02(2).jpg" alt="image description"></a></li>
																<li><a href="javascript:void(0);"><img src="img/img-03(1).jpg" alt="image description"></a></li>
																<li><a href="javascript:void(0);"><img src="img/img-04(1).jpg" alt="image description"></a></li>
															</ul>
															<div class="tg-emailmessagebox">
																<div class="form-group">
																	<input type="text" name="subject" class="form-control" placeholder="To">
																</div>
																<div class="form-group">
																	<textarea placeholder="Message Here"></textarea>
																</div>
															</div>
														</div>
														<div class="tg-btnarea">
															<a class="tg-btn" href="javascript:void(0);">Send</a>
															<a class="tg-btn" href="javascript:void(0);">Attach File(s)</a>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		
	<div ng-include="'templates/footer.html'"></div>
		
	</div>
	</div>
	</div>