
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widgetprofile">
									<figure class="tg-profilebannerimg">
										<img src="img/bg-profile.jpg" alt="image description">
									</figure>
									<div class="tg-widgetcontent">
										<figure>
											<img src="img/img-07.jpg" alt="image description">
											<a class="tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
										</figure>
										<div class="tg-admininfo">
											<h3>Kena Maresca</h3>
											<h4>Bright Future Group &amp; Company</h4>
											<ul class="tg-matadata">
												<li><span class="tg-stars"><span></span></span></li>
												<li>
													<i class="fa fa-thumbs-o-up"></i>
													<em>99% (1009 votes)</em>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tg-widgetdashboard">
									<nav id="tg-dashboardnav" class="tg-dashboardnav">
										<ul>
											
											<li class="tg-active">
												<a href="">
													<i class="lnr lnr-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="">
													<i class="lnr lnr-map"></i>
													<span>Your Jobs</span>
												</a>
											</li>
											<li>
												<a href="" ng-click="goToPage('portfolio')">
													<i class="lnr lnr-clock"></i>
													<span>Portfolio</span>
												</a>
											</li>
											<li>
												<a href="" ng-click="logout()">
													<i class="lnr lnr-exit"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
								
							</aside>
						