
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widgetprofile">
									<figure class="tg-profilebannerimg">
										<img src="img/bg-profile.jpg" alt="image description">
									</figure>
									<div class="tg-widgetcontent">
										<figure>
											<img src="img/img-07.jpg" alt="image description">
											<a class="tg-btnedite" href="javascript:void(0);"><i class="lnr lnr-pencil"></i></a>
										</figure>
										<div class="tg-admininfo">
											<h3>Kena Maresca</h3>
											<h4>Bright Future Group &amp; Company</h4>
											<ul class="tg-matadata">
												<li><span class="tg-stars"><span></span></span></li>
												<li>
													<i class="fa fa-thumbs-o-up"></i>
													<em>99% (1009 votes)</em>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tg-widgetdashboard">
									<nav id="tg-dashboardnav" class="tg-dashboardnav">
										<ul>
											
											<li class="tg-active">
												<a href="">
													<i class="lnr lnr-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="">
													<i class="lnr lnr-map"></i>
													<span>Manage Jobs</span>
												</a>
											</li>
											<li>
												<a href="" ng-click="goToPage('portfolio')">
													<i class="lnr lnr-clock"></i>
													<span>Portfolio</span>
												</a>
											</li>
											<li>
												<a href="">
													<i class="lnr lnr-exit"></i>
													<span>Logout</span>
												</a>
											</li>
											<!-- <li>
												<a href="html/service_provider/dashboardbusinesshours.html">
													<i class="lnr lnr-clock"></i>
													<span>Business Hours</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardmanageservice.html">
													<i class="lnr lnr-briefcase"></i>
													<span>Manage Services</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardmanageteams.html">
													<i class="lnr lnr-users"></i>
													<span>Manage Team</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardmanagejobs.html">
													<i class="lnr lnr-map"></i>
													<span>Manage Jobs</span>
												</a>
											</li>
											<li class="tg-privatemessages tg-hasdropdown">
												<a id="tg-btntoggle" class="tg-btntoggle" href="javascript:void(0);">
													<i class="lnr lnr-envelope"></i>
													<span>Private Messages</span>
													<em class="tg-totalmessages">526</em>
													<em class="tg-newmessages">1</em>
												</a>
												<ul class="tg-emailmenu">
													<li class="tg-active">
														<a href="html/service_provider/dashboardprivatemessages.html">
															<span>inbox</span>
															<em class="tg-totalmessages">526</em>
															<em class="tg-newmessages">1</em>
														</a>
													</li>
													<li>
														<a href="html/service_provider/dashboardprivatemessages.html">
															<span>sent</span>
															<em class="tg-totalmessages">370</em>
														</a>
													</li>
													<li>
														<a href="html/service_provider/dashboardprivatemessages.html">
															<span>trash</span>
															<em class="tg-totalmessages">160</em>
														</a>
													</li>
													<li>
														<a href="html/service_provider/dashboardprivatemessages.html">
															<span>spam/junk</span>
															<em class="tg-totalmessages">1260</em>
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="html/service_provider/dashboardappointment.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardappointmentsetting.html">
													<i class="lnr lnr-calendar-full"></i>
													<span>Appointment Settings</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardfavoritlisting.html">
													<i class="lnr lnr-heart"></i>
													<span>Favourite Listings</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardinvoices.html">
													<i class="lnr lnr-list"></i>
													<span>Invoices</span>
													<em class="tg-invoices">23</em>
												</a>
											</li>
											<li class="tg-updatepackage">
												<a href="html/service_provider/dashboardupgradepackage.html">
													<i class="lnr lnr-layers"></i>
													<span>Update Package</span>
													<em class="lnr lnr-flag tg-taginfo"></em>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardsecuritysetting.html">
													<i class="lnr lnr-construction"></i>
													<span>Security Settings</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardprivacysetting.html">
													<i class="lnr lnr-lock"></i>
													<span>Privacy Settings</span>
												</a>
											</li>
											<li>
												<a href="html/service_provider/dashboardprofilesetting.html#">
													<i class="lnr lnr-exit"></i>
													<span>Logout</span>
												</a>
											</li> -->
										</ul>
									</nav>
								</div>
								
							</aside>
						